.upvoteTip {
  text-align: center;
  margin-top: 28px;
  margin-bottom: 12px;
  font-weight: 600;
  color: #6b6b6b;
}

.searchBar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  input {
    border-radius: 0;
  }

  + div {
    margin-top: 8px;
  }
}

.type {
  display: flex;
  margin-right: 12px;

  > *:not(:last-of-type) {
    margin-right: 12px;
  }
}

.uniqueUrlCol {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > span {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  > i {
    font-style: normal;
    text-decoration: underline;
    color: @primary-color;
    cursor: pointer;
    user-select: none;
    margin-left: 4px;
  }
}

.coinStatusCol {
  display: flex;
  align-items: center;

  i {
    width: 6px;
    height: 6px;
    margin-left: 2px;
    margin-right: 8px;
    border-radius: 50%;
  }
}
